In [42]:
import pandas as pd
extracted = pd.read_csv("./files/extracted_text.csv")
extracted.head(10)

,imageid,text,recipient,recipientaddress,invoicenos,invoicedate,duedate,Balance
0,2,Invoice\n\nStanford Plumbing & Heating\nbeotts...,Allen Smith,"123 Madison drive Seattle, WA",INVO2081,"Jun 14,2018","Jun 19,2018","2,688.00"
1,1,Stanford Plumbing & Heating\n128 Madison drive...,Allen Smith,"87 Private st, Seattle, WA",INVO2081,11/11/2018,12/10/2018,"2,844.80"

In [43]:
extracted.head(20)

,imageid,text,recipient,recipientaddress,invoicenos,invoicedate,duedate,Balance
0,2,Invoice\n\nStanford Plumbing & Heating\nbeotts...,Allen Smith,"123 Madison drive Seattle, WA",INVO2081,"Jun 14,2018","Jun 19,2018","2,688.00"
1,1,Stanford Plumbing & Heating\n128 Madison drive...,Allen Smith,"87 Private st, Seattle, WA",INVO2081,11/11/2018,12/10/2018,"2,844.80"

In [45]:
import spacy

nlp = spacy.load("en_core_web_sm")
corpus = []
i=0


text = extracted['text'][0]
doc = nlp(text)
for sent in doc.sents:
    corpus.append(sent.text)

image 1
image 1

Invoice

Stanford Plumbing & Heating
beottsanforepLamarg cm
12s sadiean dre
te wh
20
Phone sib.
ches

Number mncuoe

bate junta, 2018
bee unt, 2018

Allen Smith

sma crm

Be pwvat
te, ws

ame: yf 1920

lestlled nave kitchen sine nce suc
acc me about ne "9 aed mn ety plow ana mane 54 ¢~ ens cour tetop
roca snk 28 feovee 1 sue
pearing
Nese sma thesmnoctat fesoce 1 fasuen
ne "222 088,
‘worcester Greenscar 3th sramuee 1 stones
Brera)
subtotal seanuce
csinss sesuce
ona seasuce
Balance Due $2,688.00

Notes
ease pay vat 20 day by Fay: est@scanfoepLamoig com

Inark yea for you busiest

In [2]:
from faker import Faker

In [48]:
nlp = spacy.blank("en")

ruler = nlp.add_pipe("entity_ruler")

patterns = [
                {"label": "ORG", "pattern": "Stanford Plumbing & Heating"},
                {"label": "recipient", "pattern": "Allen Smith"},
                {"label": "recipientaddress", "pattern": "123 Madison drive Seattle, WA"},
                {"label": "invoicenos", "pattern": "INVO2081"},
                {"label": "invoicenos", "pattern": "#INVO2081"},
                {"label": "invoicedate", "pattern": "11/11/18"},
                {"label": "invoicedate", "pattern": "Jun 14,2018"},
                {"label": "duedate", "pattern": "Jun 19,2018"},
                {"label": "duedate", "pattern": "12/01/28"},
                {"label":"Balance","pattern":"$2,688.00"}
            ]

ruler.add_patterns(patterns)

TRAIN_DATA = []
for sentence in corpus:
    doc = nlp(sentence)
    entities = []

    for ent in doc.ents:
        entities.append([ent.start_char, ent.end_char, ent.label_])
    TRAIN_DATA.append([sentence, {"entities": entities}])

print (TRAIN_DATA)

[['Invoice\n\nStanford Plumbing & Heating\nbeottsanforepLamarg cm\n12s sadiean dre\nte wh\n20\nPhone sib.', {'entities': [[9, 36, 'ORG']]}], ['ches\n\nNumber mncuoe\n\nbate junta, 2018\nbee unt, 2018\n\nAllen Smith\n\nsma crm\n\nBe pwvat\nte, ws\n\name: yf 1920\n\nlestlled nave kitchen sine nce suc\nacc me about ne "9 aed mn ety plow ana mane 54 ¢~ ens cour tetop\nroca snk 28 feovee 1 sue\npearing\nNese sma thesmnoctat fesoce 1 fasuen\nne "222 088,\n‘worcester Greenscar 3th sramuee 1 stones\nBrera)\nsubtotal seanuce\ncsinss sesuce\nona seasuce\nBalance Due $2,688.00\n\nNotes\nease pay vat 20 day by Fay: est@scanfoepLamoig com\n\nInark yea for you busiest\n', {'entities': [[53, 64, 'recipient'], [393, 402, 'Balance']]}]]

In [ ]:
# import http.client

# conn = http.client.HTTPSConnection("random-stuff-api.p.rapidapi.com")

# payload = "BotEmail=admin%40pgamerx.com&BotCompany=PGamerX&BotAge=19&BotName=Black%20Sheep&BotFavArtist=Eminem&BotFavColor=Black&BotFavActress=Emma%20Watson&BotFavBand=1D&BotBuild=Public&BotLocation=India&BotFavActor=Jim%20Carrey&BotMaster=Naman%20Sharma&BotBirthYear=2020&BotBirthDate=1&BotGender=Male&BotFavBook=Harry%20Potter&BotBirthPlace=India&BotBirthMonth=March"

# headers = {
#     'content-type': "application/x-www-form-urlencoded",
#     'Authorization': "BK1e2xlp05pB",
#     'X-RapidAPI-Key': "59ecf26782msh281c9adcd1424a6p1f2815jsna44541574f5f",
#     'X-RapidAPI-Host': "random-stuff-api.p.rapidapi.com"
# }

# conn.request("POST", "/ai/customize", payload, headers)

# res = conn.getresponse()
# data = res.read()

# print(data.decode("utf-8"))

In [ ]:
# import http.client

# conn = http.client.HTTPSConnection("twinword-twinword-bundle-v1.p.rapidapi.com")

# headers = {
#     'X-RapidAPI-Key': "59ecf26782msh281c9adcd1424a6p1f2815jsna44541574f5f",
#     'X-RapidAPI-Host': "twinword-twinword-bundle-v1.p.rapidapi.com"
# }

# conn.request("GET", "/sentiment_analyze/?text=great%20value%20in%20its%20price%20range!", headers=headers)

# res = conn.getresponse()
# data = res.read()

# print(data.decode("utf-8"))